* {
    margin: 0;
    padding: 0;
}

.align_justify__center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row_gap {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.col_gap {
    display: flex;
    column-gap: 5px;
}

.bg {
    background-color: gray;
}

.h200 {
    height: 200px;
}

.h100 {
    height: 100px;
}

.container {
    height: 300px;
    width: 400px;
    padding: 5px;
    border: 5px solid gray;
    border-radius: 8px;
}

.w100 {
    width: 100px;
}

.w300 {
    width: 300px;
}