body {
    background: url("https://wallpapercave.com/wp/wp2558797.jpg") no-repeat;
    background-size: 100%;
    font-size: 90%;
}
.left {
    width: 52%;
}
.titletext {
    color: #ffffff;
    text-align: center;
}
.deftext {
    color: #ffffff;
}
hr {
    border: 0;
    height: 4px;
    background-image: linear-gradient(to right, #eae1e1, #000000);
    border-radius: 5px;
}
li {
    text-align: center;
    list-style: none;
    font-size: 20px;
    margin-bottom: 7px;
    border: 2px dashed white;
    border-radius: 30px;
}
a {
    text-decoration: none;
    color: #ffffff;
}
a:hover {
    color: red;
}

