.father {
    height: auto;
    width: 1000px;
    background: gray;
    box-sizing: border-box;
}
.son{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}
.a {
    background: #a56109;
    height: 200px;
    width: 930px;
    margin: 30px;
}
.b {
    background: aqua;
    height: 350px;
    width: 700px;
}
.c {
    background: #ab1349;
    height: 350px;
    width: 200px;
}
.block{
    border: 2px solid black;
    border-radius: 20px;
}