* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg_lightgray{
    background-color: #c0bebe;
}
.bg_darkgray{
    background-color: darkgray;
}
.h40{
    height: 40px;
}
.h70{
    height: 70px;
}
.w150{
    width: 150px;
}
.w130{
    width: 130px;
}
.header{
    height: 100px;
    border-bottom: 5px solid #234749;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.main{
    display: flex;
    border-bottom:5px solid #234749;
}
.nav{
    flex-grow: 1;
}
.link{
    margin: 15px 15px;
}
.content{
    flex-grow: 24;
    border-left:5px solid #234749;
}
.content__main-picture{
    height: 400px;
    border-bottom:5px solid #234749 ;
    padding: 20px ;
}
.content__picture{
    height: 100%;
}
.content__pictures{
    height: 200px;
    display: flex;
    padding: 30px 20px;
    justify-content: space-evenly;
    column-gap: 20px;
    border-bottom:5px solid #234749 ;
}
.content__pictures-item{
    width: 24%;
}
.main__content{
    display: flex;
    border-bottom:5px solid #234749;
}
.main__content-videos_links{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
    padding: 15px;
}
.main__content-videos{
    height: 800px;
    flex-grow: 60;
    border-right:5px solid #234749;
    padding: 30px;
    display: flex;
    justify-content: space-around;
}
.main__content-videos_item{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.video_item{
    flex-grow: 1;
}
.content__footer{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}
.content__footer-top{
    width: 90%;
}
.content__footer-bot{
    width: 10%;
}