* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg_lightgray{
    background-color: #c0bebe;
}
.bg_darkgray{
    background-color: darkgray;
}
.h40{
    height: 40px;
}
.h70{
    height: 70px;
}
.w200{
    width: 200px;
}
.header{
    height: 100px;
    border-bottom: 5px solid #234749;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.picture{
    height: 400px;
    border-bottom:5px solid #234749 ;
    padding: 20px ;
}
.picture__item{
    height: 100%;
}
.videos{
    height: 400px;
    padding: 30px ;
    border-bottom:5px solid #234749 ;
}
.videos__items{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2%;
}
.videos__item{
    width: 49%;
    height: 48%;
    margin-bottom: 2%;
}
.propositions{
    height: 700px;
    padding: 30px ;
    border-bottom:5px solid #234749 ;
}
.propositions__items{
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2%;
}
.propositions__item{
    width: 49%;
    height: 33.33%;
    margin-bottom: 25px;
}
.propositions__items-bot{
    margin: 90px auto 0 auto ;
}
.overview{
    height: 400px;
    border-bottom:5px solid #234749 ;
    padding: 30px;
    display: flex;
    column-gap: 15px;
}
.overview__items{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.overview__items-left{
    width: 100%;
    height: 33%;
}
.footer{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}
.footer-top{
    width: 95%;
}
.footer-bot{
    width: 20%;
}