* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg_lightgray{
    background-color: #c0bebe;
}
.bg_darkgray{
    background-color: darkgray;
}
.h40{
    height: 40px;
}
.h70{
    height: 70px;
}
.w200{
    width: 200px;
}
.header{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    border-bottom:5px solid #234749 ;
}
.header-top{
    width: 20%;
}
.header-bot{
    width: 95%;

}
.picture{
    height: 400px;
    border-bottom:5px solid #234749 ;
    padding: 20px ;
}
.picture__item{
    height: 100%;
}
.videos{
    height: 400px;
    padding: 30px ;
    border-bottom:5px solid #234749 ;
}
.videos__items{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2%;
}
.videos__item{
    width: 49%;
    height: 48%;
    margin-bottom: 2%;
}
.propositions{
    width: 100%;
    height: 500px;
    padding: 30px ;
    border-bottom:5px solid #234749 ;
}
.propositions__item{
    margin-bottom: 20px;
    height: 13%;
}
.bot{
    height: 8%;
    width: 15%;
    margin: 0 auto;
}
.overview{
    width: 100%;
    height: 500px;
    padding: 30px ;
    border-bottom:5px solid #234749 ;
}
.overview__item{
    margin-bottom: 20px;
    height: 10%;
}
.bot2{
    height: 56%;
}
.footer{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}
.footer-top{
    width: 95%;
}
.footer-bot{
    width: 20%;
}